<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murui.applet.mapper.OptionMapper">

    <insert id="insertOption" parameterType="com.murui.applet.entity.Option" keyProperty="id">
        INSERT INTO `sys_option` (question_id, content, goto_question, is_deleted)
        VALUES(#{option.questionId}, #{option.content}, #{option.gotoQuestion}, #{option.isDeleted})
    </insert>


</mapper>